<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>DIPSA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
       	<link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/bootstrap.css">
        <script src="../js/vendor/modernizr-2.7.1.min.js"></script>

        <style type="text/css">
			h1 {
				height: 100%;
				/* The html and body elements cannot have any padding or margin. */
				margin: 0;
				font-size: 14px;
				font-family: 'Open Sans', sans-serif;
				color: #1c1d1e;
				font-size: 32px;
				margin-bottom: 3px;
			}
			h2 {
				color: #1c1d1e;
				font-family: 'Open Sans', sans-serif;
				font-weight: normal;
			}
			h3{
				color: #494A4B;
				font-family: 'Open Sans', sans-serif;
				font-weight: normal;
			}
			body{
				background-image:url('../img/backgrounds/servicios-1.jpg');
				background-position: center center;
			    background-repeat: no-repeat;
			    background-attachment: fixed;
			    background-size: cover;
			    height: 110%;
			    width: 100%;
			}
		</style>
    </head>

    <body class="loading">
        <nav class="navbar navbar-default navbar-fixed-top">
        	<div class="container">
        		<div class="navbar-header">
        			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			</button>
        			<a class="navbar-brand" href="../index.html">DIPSA</a>
        		</div>
        		<div id="navbar" class="navbar-collapse collapse">
        			<ul class="nav navbar-nav">
						<li class="dropdown">
                            <a id="inicio" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inicio<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../index.html">Bienvenido</a></li>
                                <li><a href="../index.html?cuadro=2">¿Qui&eacute;nes somos?</a></li>
                                <li><a href="../index.html?cuadro=3">Misi&oacute;n, Visi&oacute;n, y Valores</a></li>
                                <li><a href="../index.html?cuadro=4">&Uacute;ltimos Proyectos</a></li>
                            </ul>
                        </li>
						<li class="dropdown">
                            <a id="despacho" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Despacho<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="despacho.html">El arquitecto</a></li>
                                <li><a href="despacho.html?cuadro=2">Nuestras Ventajas</a></li>
                                <li><a href="despacho.html?cuadro=3">Testimonios</a></li>
                            </ul>
                        </li>
        				<li id="servicios" class="active"><a href="#">Servicios</a></li>
        				<li id="proyectos" class=""><a href="proyectos.html">Proyectos</a></li>
        				<li id="contacto" class=""><a href="contacto.html">Contacto</a></li>
        			</ul>
        		</div>
        	</div>
        </nav>
        <main>
            <section id="servicios-1" class="homeSlide">
                <div class="bcg" 
                    data-center="background-position: 50% 0px;" 
                    data-top-bottom="background-position: 50% 0px;"
                    data-bottom-top="background-position: 50% 0px;"
                    data-anchor-target="#servicios-1">
                    <div class="hsContainer" style="top:4%;">
                        <div class="hsContent panel-transparent">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="panel-body">
                                        <h2>
                                            SERVICIOS
                                        </h2>
                                        <div class="col-lg-6 col-md-6 col-xs-12">
					                		<h2>
					                			1. Master Planning
					                		</h2>
					                		<p>
					                			- Plan personalizado.<br>
												- Evaluación de propiedad.<br>
												- Estructuración de capital y deuda.<br>
												- Mercado meta.<br>
												- Residencial/Comercial/Usos Mixtos
					                		</p>
					                    </div>
					                    <div class="col-lg-6 col-md-6 col-xs-12">   
					                    	<h2>
					                			2. Feasibility Studies
					                		</h2>
					                		<p>
					                			- Plan personalizado.<br>
												- Evaluación de propiedad.<br>
												- Estructuración de capital y deuda.<br>
												- Mercado meta.<br>
												- Residencial/Comercial/Usos Mixtos
					                		</p>
					                    </div>
					                    <div class="col-lg-6 col-md-6 col-xs-12">    
					                    	<h2>
					                			3. Site Analysis
					                		</h2>
					                		<p>
					                			- Plan personalizado.<br>
												- Evaluación de propiedad.<br>
												- Estructuración de capital y deuda.<br>
												- Mercado meta.<br>
												- Residencial/Comercial/Usos Mixtos
					                		</p>
					                    </div>
					                    <div class="col-lg-6 col-md-6 col-xs-12">  
					                    	<h2>
					                			4. Space Planning
					                		</h2>
					                		<p>
					                			- Plan personalizado.<br>
												- Evaluación de propiedad.<br>
												- Estructuración de capital y deuda.<br>
												- Mercado meta.<br>
												- Residencial/Comercial/Usos Mixtos
					                		</p>
					                    </div>
					                    <div class="col-lg-6 col-md-6 col-xs-12">            
					                    	<h2>
					                			5. 3D Modeling
					                		</h2>
					                		<p>
					                			- Plan personalizado.<br>
												- Evaluación de propiedad.<br>
												- Estructuración de capital y deuda.<br>
												- Mercado meta.<br>
												- Residencial/Comercial/Usos Mixtos
					                		</p>
					                    </div>
					                    <div class="col-lg-6 col-md-6 col-xs-12"> 
					                    	<h2>
					                			6. Needs Analysis
					                		</h2>
					                		<p>
					                			- Plan personalizado.<br>
												- Evaluación de propiedad.<br>
												- Estructuración de capital y deuda.<br>
												- Mercado meta.<br>
												- Residencial/Comercial/Usos Mixtos
					                		</p>
					                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/imagesloaded.js"></script>
        <script src="../js/skrollr.js"></script>
        <script src="../js/_servicios.js"></script>
        <script src="../js/bootstrap.js"></script>
    </body>
</html>